Package: {{ pkg }}
Source: scripturesstudio-assets
Version: {{ version }}
Architecture: all
Maintainer: {{ maintainer }}
Section: misc
Priority: optional
Depends: {{ depends|join(",\n ") }}
Description: {{ description }}
